
*.pyc

Implemantation/ticketsystem/website/migrations/

Implemantation/ticketsystem2/ticketsystem/.idea/ticketsystem.iml

Implemantation/ticketsystem2/ticketsystem/website/migrations/0001_initial.py
