body {
    width: 100%;
}

#adminRow{
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
}

#helpText {
    text-align: right;
}

a {
  color: white;
  font-family: "MV Boli";
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
    color: lightsteelblue;
    text-decoration: none;
}

a:active {
  color: black;
}

.accountTextDiv a{
  color: white;
  font-family: "helvetica";
  text-decoration: none;
  text-transform: lowercase;
}

 .accountTextDiv a:hover {
    color: lightsteelblue;
    text-decoration: none;
}

 .accountTextDiv a:active{
  color: black;
}


header {
  position: relative;
  background-color: black;
  height: 40vh;
  min-height: 15rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#webSiteName {
    float: left;
    width: 14%;
    height: 95%;
    margin: auto;
}

.topicsName {
    float: left;
    width: 14%;
    height: 95%;
    margin: auto;
}

.avatarDiv {
    float: left;
    width: 30%;
    height: 95%;
    margin: auto;
    margin-left: 2%;
}

.avatarDiv img {
    max-width: 100%;
    max-height: 100%;
}

.border{
  border-radius: 25px;
    border-color: #eddcff ;
  background: #eddcff;
    width: 100%;
    height: 100%;
}

.accountTextDiv {
    float: left;
    width: 50%;
    height: 95%;
    margin: auto;
    padding-top: 1%;
    margin-left: 1%;
}

.accountTextDiv p{
  width: 100%;
}

.search-container {
    margin: auto;
    float: left;
    width: 100%;
    height: 25%;
    padding-top: 2%;
}

.search-container input {
    float: left;
    width: 70%;
    margin-top: 1%;
    webkit-border-radius: 4px !important;
         -moz-border-radius: 4px !important;
              border-radius: 4px !important;
      -webkit-border-top: 4px !important;
         -moz-border-top: 4px !important;
              border-top: 4px !important;
      -webkit-border-bottom: 4px !important;
         -moz-border-bottom: 4px !important;
              border-bottom: 4px !important;
}


#searchFilterRow {
    height: 40%;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

.row select{

    webkit-border-radius: 4px !important;
         -moz-border-radius: 4px !important;
              border-radius: 4px !important;
      -webkit-border-top: 4px !important;
         -moz-border-top: 4px !important;
              border-top: 4px !important;
      -webkit-border-bottom: 4px !important;
         -moz-border-bottom: 4px !important;
              border-bottom: 4px !important;
}


#mainRow {
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}



.categories {
    float: left;
    width: 70%;
    height: 40%;
    margin: auto;
    padding-top: 1.5%;
}

.categories select {
    width: 70%;
    margin-right: 20%;
    height: 70%;
}


@media (max-width: 956px) {
    #mainRow {
        display: none !important;
    }
    #searchFilterRow {
        padding-top: 70px;
        display: none !important;
    }
}

@media (min-width: 956px) {
    #top-navbar {
        display: none !important;
    }
}

.home-event-img{
    position: relative;
}
.home-event-img img{
    position: relative;
    width: 100%;
    height: 100%;
}

.card-fixed{
    position: relative;
    width: 100%;
    height: 100%;
}

.row-fixed{
    position: relative;
    padding-top: 20px;
}

.row-first{
    position: relative;
    padding-top: 20px;
    padding-left: 20%;
}