body {
    background-color: #F1FAFB;
    width: 100%;
}

#helpText {
    text-align: right;
}

header {
    width: 100%;
}

#webSiteName {
    float: left;
    width: 14%;
    height: 95%;
    margin: auto;
}

.topicsName {
    float: left;
    width: 14%;
    height: 95%;
    margin: auto;
}

.avatarDiv {
    float: left;
    width: 30%;
    height: 95%;
    margin: auto;
    margin-left: 2%;
}

.avatarDiv img {
    max-width: 100%;
    max-height: 100%;
}

.accountTextDiv {
    float: left;
    width: 14%;
    height: 95%;
    margin: auto;
    padding-top: 1%;
    margin-left: 1%;
}

.accountTextDiv a{
    margin-top: 1%;
    font-size: x-large;
}

.accountTextDiv p{
  width: 100%;
}

.search-container {
    float: left;
    width: 25%;
    height: 80%;
    margin: auto;
    padding-top: 2%;
}

.search-container input {
    float: left;
    margin: auto;
}

#searchFilterRow {
    margin: auto;
    padding-left: 50px;
    text-align: center;
    background-color: darkcyan;
}

#mainRow {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    background-color: burlywood;
}

#content {
    background-color: floralwhite;
}

.categories {
    float: left;
    width: 80%;
    height: 40px;
    margin: auto;
    padding-top: 1%;
}

.categories select {
    width: 70%;
    height: 70%;
}

.filterButton {
    float: left;
    width: 40%;
    height: 100%;
    margin: auto;
    padding-top: 1%;
}

.filterButton button {
    font-size: 20px;
    width: 50px;
}

@media (max-width: 956px) {
    #mainRow {
        display: none !important;
    }
    #searchFilterRow {
        padding-top: 70px;
    }
}

@media (min-width: 956px) {
    #top-navbar {
        display: none !important;
    }
}