{%  extends 'base.html' %}


    {% block head %}
        <title>Event Review</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
    {% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col-md-12">
    <h2 class="sec-title">Event Preview</h2>
</div>
<div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
    <div class="card-group evet-card mb-2">
        <div class="card mb-0">
            <div class="card-body py-1">
                <div class="row">
                    <div class="col-5 center col-sm-3">
                        <div class="display-4">
                            <span class="badge">{{event.date.day}}</span>
                        </div>
                      <h3 class="card-title text-center">{{ event.date.month }}</h3>
                    </div>
                    <div class="col-7 col-sm-9">
                        <div class="d-flex flex-column">
                            <h3 class="card-title text-uppercase mt-0"><strong>{{ event.name }}</strong></h3>
                            <div class="card-text">
                                {{ event.rules }}
                            </div>
                            <ul class="list-inline mt-auto">
                                <li class="list-inline-item"> <strong>Published By :{{ event.owner }}</strong></li>
                                <li class="list-inline-item"><i class="icon ion-android-person"></i> {{ event.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-0">
            <div class="card-body py-1">
                <div class="row h-100">
                    <div class="col-5 col-sm-4">
                        <ul class="list-group my-0 pl-1">
                            <li class="list-inline-item"><i class="icon ion-android-alarm-clock"></i>Type: {{ event.type }}</li>
                            <li class="list-inline-item"><i class="icon ion-compose"></i> Quota: {{ event.quota }}</li>
                            <li class="list-inline-item"><i class="icon ion-android-pin"></i> Address: {{event.stage.address}}</li>
                            <li class="list-inline-item"><i class="icon ion-ios-paperplane"></i> Place: {{ event.stage.place }}</li>
                            <li class="list-inline-item"><i class="icon ion-android-notifications"></i>Price: {{ event.price }}</li>
                        </ul>
                    </div>
                    <div class="col-7 col-sm-8">
                        <p>
                            {{ event.img }}
                        </p>
                    </div>

                </div>
            </div>
            <div class="buttonDiv">
            <p><a class="btn btn-info px-0 py-0"  href={{ event.get_buy_ticket_url }}>Buy Ticket</a></p>
            </div>
        </div>
    </div>
  </div>
</div>
  </div>
</div>

{% endblock %}


