{% extends 'profile/profile.html' %}

{% block info %}
    <ul>
     <span> {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}</span>
        {% for event in event_list %}
            <br><li>{{ event.name }} <a class="btn btn-success" href="{{ event.get_edit_event_url }}">Edit</a>
                <a class="btn btn-danger" href="{{ event.get_delete_event_url }}">Delete</a>{% ifequal event.isAccepted False %}
                    <a class="btn btn-info" href="{{ event.get_check_event_url }}">Check My Request</a>{% endifequal %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
{% block isOperator %}
    <a href="{% url 'add_event' %}">Add Event</a><br>
    <a href="{% url 'my_events' %}">My Events</a><br>
{% endblock %}