{%  extends 'base.html' %}

    {% block head %}
       <title>Search Page</title>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/searchPage/searchPage.css" %}">
    <title>{% block title %}{%  endblock %}</title>
  {% endblock %}


{% block content %}
                 <div class="mainpageDiv">
                 {% include "event/pagination.html" %}
                         </div>
                        <div id="searchTypesRow">
                            <header id="eventText">Event</header>
                            <header id="stageText">Stage</header>
                            <header id="dateText">Date</header>
                        </div>
                        <div class="searchContentRow">
                        </div>
                        <div class="spaceDivs"></div>
                        <div class="searchContentRow">
                            </div>
                            <div class="spaceDivs"></div>
                            <div class="searchContentRow">
                                </div>
                     </div>
                 </div>
         </div>
     </div>
{% endblock %}