{%  extends 'base.html' %}

    {% block head %}
       <title>Search Page</title>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/event/searchPage.css" %}">
    <title>{% block title %}{%  endblock %}</title>
        <style>
            tr[data-href]{
                cursor: pointer;
            }
        </style>
  {% endblock %}


{% block content %}
                 <div class="mainpageDiv">
                 {% include "event/pagination.html" %}
                         </div>
<table class="rwd-table">
  <tr>
      <th>Image</th>
      <th>Event Name</th>
    <th>Date</th>
    <th>Stage</th>
      <th>Price</th>

  </tr>
 <div class="searchContentRow">
    {% for obj in items %}
  <tr data-href="{% url 'event_preview' pk=obj.pk %}">
    <td data-th="Image">
        {{ obj.img }}
    </td>
    <td data-th="Event Name">{{ obj.name }}</td>
    <td data-th="Date">{{obj.date}}</td>
    <td data-th="Stage">{{obj.stage}}</td>
      <td data-th="Price">{{ obj.price }}</td>
  </tr>
  {% endfor %}
 </div>
<script>
    document.addEventListener("DOMContentLoaded", () =>{
        const rows = document.querySelectorAll("tr[data-href]");

        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>

</table>


                     </div>
                 </div>
         </div>
     </div>
{% endblock %}