body{
    margin: auto;
    background-color: gray;
}

#mainDiv{
  float: none;
  width: 100%;
  height: 768px;
  margin: auto;
}

#helpText{
  text-align: right;
}

#topRow{
    float: none;
    width: 100%;
    height: 5%;
    margin: auto;
}

#headerRow{
    float: none;
    width: 95%;
    height: 15%;
    margin: auto;
    margin-left: 6%;
}

#webSiteName{
  float: left;
  width: 14%;
  height: 95%;
  margin: auto;
}

.topicsName{
  float: left;
  width: 14%;
  height: 95%;
  margin: auto;
}


.avatarDiv{
  float: left;
  width: 7%;
  height: 95%;
  margin: auto;
  margin-left: 2%;
}

.avatarDiv img{
  max-width:100%;
  max-height:100%;
}

.accountTextDiv{
  float: left;
  width: 14%;
  height: 95%;
  margin: auto;
  padding-top: 1%;
  margin-left:1%;
}

.accountTextDiv a{
  margin-top: 1%;
    font-size: x-large;
}

.search-container{
    float: left;
    width: 16%;
    height: 80%;
    margin: auto;
    padding-top: 2%;
}

.search-container input{
 float: left;
 width: 70%;
 height: 20%;
 margin: auto;
}

#searchFilterRow{
    float: none;
    width: 80%;
    height: 10%;
    margin: auto;
    text-align: center;
}

#mainRow{
    float: none;
    width: 95%;
    height: 70%;
    margin: auto;
}

.categories{
  float: left;
  width: 25%;
  height: 90%;
  margin: auto;
  padding-top: 1%;
}

.categories select{
  width: 50%;
  height: 50%;
}

.filterButton{
  float: left;
  width: 15%;
  height: 100%;
  margin: auto;
  padding-top: 1%;
}

.filterButton button{
  font-size:20px;
  width: 25%;
}

.mainPageDiv{
    float: none;
    width: 85%;
    height: 100%;
    margin: auto;
    margin-left: 10%;


}

#signupPart{
  float: left;
  width: 30%;
  height: 100%;
  margin: auto;
  margin-left: 12%;
  text-align: center;

}

.signupHeader{
  float: none;
  width: 95%;
  height: 10%;
  margin: auto;
}

.signupHeader h2{
  color: orange;
  font-size: x-large;
}

#signupText{
    float: none;
    width: 95%;
    height: 20%;
    margin: auto;
}

.signupButton{
  float: none;
  width: 95%;
  height: 25%;
  margin: auto;
    margin-top: 2%;
}


#loginPart{
  float: left;
  width: 30%;
  height: 100%;
  margin: auto;
  margin-left: 10%;
}

#loginText{
  float: none;
  width: 95%;
  height: 10%;
  margin: auto;
    text-align: center;
}

.email-part{
  float: none;
  width: 40%;
  height: 10%;
  margin: auto;
    margin-left: 10%;

}

.email-part h4{
    float: left;
    margin:auto;
}

.email-part input{
    float: left;
    margin: auto;
}

.password-part{
  float: none;
  width: 40%;
  height: 10%;
  margin: auto;
    margin-left: 10%;
}

.password-part h4{
    float: left;
    margin: auto;
}

.password-part input{
    float: left;
    margin: auto;
}

.forgotPasswordPart{
  float: none;
  width: 90%;
  height: 5%;
  margin: auto;
    margin-left: 10%;

}

.forgotPasswordPart h4{
    float: none;
    margin: auto;
    font-size: x-small;
}

#loginButton{
  float: none;
  width: 50%;
  height: 20%;
  margin: auto;
    margin-left: 37%;
}




