
.sec-title{
  font-size: 56px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.4;
}
.evet-card > .card .list-inline-item {
  color: #ba9643;
  font-size: 14px;
}
.evet-card > .card .badge {
  background: #ba9643;
}
.evet-card > .card {
  background: #242021;
}
