{%  extends 'base.html' %}

    {% block head %}
       <title>Buy Ticket</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/ticket/buyTicketPage.css" %}">
    {% endblock %}


{% block content %}

                 <!-- Bu kısım değiştirilecek-->
                  <div class="mainPageDiv">
                      <div id="miniPageDiv">
                        <div id="artistNameRow">
                            <header>Artist Name</header>
                         </div>
                         <div id="ticketMainRow">
                             <div id="eventInfoDiv">
                                 <div id="eventPictureDiv">event picture</div>
                             </div>
                                <div id="ticketSelectionDiv">
                                    <div id="ticketSelectionRow">
                                        <header>TICKET SELECTION</header>
                                        </div>
                                        <div id="adultRow">
                                            <header>ADULT</header>
                                            <div id= "adultSelects">
                                            <select id="selectTicketType" >
                                                <option value="TicketType">Standing -00.0TL</option>
                                            </select>
                                            <select id="selectQuantity" >
                                                  <form method="post">
                                                    {% csrf_token %}
                                                     {{ form.as_p }}
                                                     <button type="submit">Buy</button>
                                                  </form>
                                            </select>
                                            </div>
                                            </div>
                                            <div id="blockRow">
                                                <header>BLOCK</header>
                                                <select id="selectType" >
                                                    <option value="Type">STANDING</option>
                                                </select>
                                                </div>
                                        <div id="seatingPlanRow">
                                            <header>SEATING PLAN</header>
                                            <div>picture</div>
                                            </div>
                                    </div>
                                    <div id="yourTicketDiv">
                                            <div id="yourTicketRow">
                                                    <header>YOUR TICKETS</header>
                                                    </div>
                                        </div>
                         </div>
                        </div>
                     </div>
                 </div>

 {% endblock %}
