{%  extends 'base.html' %}


    {% block head %}
        <title>Event Review</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/ticket/event.css" %}">
    {% endblock %}
{% block content %}



{% for concert in concert_list %}

      <div id="firstblock">

        <div class="photo">
        <p>image</p>
      </div>

          <div class="inf">
          <h6 id="head">Event Name:  {{ concert.name }}</h6>
               </div>
          <hr>
           <div class="inf" >
          <p> Event Date:  {{ cncert.date }}</p>
                    </div>

          <div class="inf" >
          <p> Event Stage:  {{ concert.stage }}</p>
            </div>
            <div class="inf" >

          </div>

        </div>
 <br>
     <br>

        {% endfor %}



{% endblock %}
