{%  extends 'base.html' %}


    {% block head %}
        <title>Event Review</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/ticket/event.css" %}">
    {% endblock %}
{% block content %}
    <div id="mert">
  <div class="header">Events</div>
<table >
      <tr>
         <th >Event image</th>
         <th >Event Name</th>
         <th >Event Date</th>
         <th >Event Stage</th>

      </tr>

{% for theatre in theatre_list %}

      <tr>
         <th>  <img src="{{ theatre.img }}" alt=""></th>
         <th><a  style="color: brown" href= " {{ theatre.get_buy_ticket_url }}"><h6 id="head"> {{ theatre.name }}</h6></a></th>
         <th>  {{ theatre.date }}</th>
         <th> {{ theatre.stage }}</th>

      </tr>
        {% endfor %}
</table>
</div>

{% endblock %}
