{%  extends 'base.html' %}


    {% block head %}
        <title>Event Review</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/ticket/ticket_review.css" %}">
    {% endblock %}
{% block content %}
<body>
  <div id="mainDiv">
    <div id="mainRow">
     <div class="frow">
      <h4 id="head">{{ ticket.event.name }}</h4>
      <div id="firstblock">
        <div class="photo">
            <img src="{{ ticket.event.img }}" alt="" >
      </div>
        <div id="details">
          <p >Date:</p >
          <p>{{ ticket.event.date }}</p>
        </div>
        <div id="Stage">
          <p >Stage name:</p >
         
          <p>{{ ticket.event.stage }}</p>
        </div>
        <div id="eventdetails">
          <p >Event Rules:</p >
         
          <p>{{ ticket.event.rules }}</p>
        </div>
          <div id="tno">
          <p>Ticket no:{{ ticket.pk }}</p>
        </div>
      </div>
    </div>

    </div>
  </div>
</body>

{% endblock %}
</html>