body{
    margin: auto;
    background-color: gray;
}

#mainDiv{
  float: none;
  width: 100%;
  height: 768px;
  margin: auto;
}

#helpText{
  text-align: right;
}

#topRow{
    float: none;
    width: 100%;
    height: 5%;
    margin: auto;
}

.mainRow{
    float: none;
    width: 50%;
    height: 70%;
    margin: auto;
    margin-top: 2%;
    margin-left: 40%;
}


.categories{
  float: left;
  width: 25%;
  height: 90%;
  margin: auto;
  padding-top: 1%;
}

.categories select{
  width: 50%;
  height: 50%;
}

.filterButton{
  float: left;
  width: 15%;
  height: 100%;
  margin: auto;
  padding-top: 1%;
}

.filterButton button{
  font-size:20px;
  width: 25%;
}

.mainPageDiv{
    float: none;
    width: 85%;
    height: 100%;
    margin: auto;
    margin-top: 10%;
    margin-left: 15%;
    background-color: red;
}

#form{
    width: 50%;
    margin: auto;
}

