{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block head %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/registration/signup.css" %}">
        
    {% endblock %}
     <script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD HH:mm:ss'
        });
    });
</script>

</head>

<body>
{% block content %}
  <div id="mainDiv">
    <div class="mainRow">
      <form method="post">
         {% csrf_token %}
         {{ form.as_p }}
         {{ profile_form.as_p }}
         <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
{% endblock %}
</body>
</html>
