{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block head %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/registration/signup.css" %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( '#birthday_date' ).datepicker();
      {{ profile_form.birthday }}
  } );
  </script>
    {% endblock %}

</head>

<body>
{% block content %}
  <div id="mainDiv">
    <div class="mainRow">
      <form method="post">
         {% csrf_token %}
         {{ form.as_p }}
          {{ profile_form.as_p }}
          Birthday:<input id="birthday_date" type="text" name="birthday">
         <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
{% endblock %}
</body>
</html>
