/*body{*/
/*    margin: auto;*/
/*}*/
#eventPictureDiv img {
    display: block;
    height: 160%;
    min-width: 80%;
    width: 160%;

}
.seating img{
    display: block;
    height: 100%;
    min-width: 80%;
    width: 100%;

}
.mainPageDiv{
    position: relative;
      width: 85%;
      height: 100%;

      margin: auto;
  }
  
  #miniPageDiv{
    position: relative;
    text-align: center;
      width: 90%;
      height: 100%;
      top: 40px;
      margin: auto;
    -webkit-box-shadow: 9px 6px 13px 3px rgba(84,67,67,0.64);
-moz-box-shadow: 9px 6px 13px 3px rgba(84,67,67,0.64);
box-shadow: 9px 6px 13px 3px rgba(84,67,67,0.64);

  }
  
  #artistNameRow{
    position: relative;

    width: 60%;
    height: 30px;
    bottom: 40%;
    margin-right: auto;
    left: 22%;

  }
    #artistNameRow h2{

    font-size:25px;
    font-weight: bold;
  }
  #artistNameRow h2{
    position: relative;
    top: 25%;
    transform: translateY(-50%);
    width:100%;
  }
  
  #ticketMainRow{
    position: relative;
    width: 99.8%;
    height: 503.5px;
    background-color: oldlace;
    border: 1px solid black;
  }

  #ticketSelectionDiv{
    position: relative;
    float: left;
    top: 3.8%;
    left: 0.5%;
    width: 55.8%;
    height: 303.5px;
    background-color: whitesmoke;
    border: 1px solid black;
  }
  
  #yourTicketDiv{
    position: relative;
    float: right;
    top: 3.8%;
    right: 0.5%;
    width: 40.8%;
    height: 303.5px;
    background-color: whitesmoke;
    border: 1px solid black;
  }

  #ticketSelectionRow{
    position: relative;
    height: 23.5px;
    width: 100%;
    background-color: goldenrod;
    border: 1px solid black;
  }

  #eventInfoDiv{
    position: relative;
    height: 180px;
    width: 100%;
  }
  #eventPictureDiv{
    position: relative;
    top: 3%;
    height: 100px;
    margin-left: 0.5%;
    width: 20%;

  }

  #ticketSelectionRow p{
    position: relative;
    top: 25%;
    transform: translateY(-20%);
    width:100%;
  }

  #seatingPlanRow{
    position: relative;
    height: 23.5px;
    width: 100%;
    background-color: goldenrod;
    border: 1px solid black;
  }

  .adultRow{
    position: relative;
    height: 50px;
    width: 100%;
    border: 1px solid black;
  }

  .quantityDiv form{
    position: relative;
    top: 19%;
    width: 10%;
    height: 30px;
    margin-left: 70%;
    display: inline;
  }



  .quantityDiv p{
    position: relative;
    width: 20%;
    height: 50px;
    display: inline;
  }

  .quantityDiv button{
    display: inline;
    position: relative;
    width: 12%;
    height: 30px;
    float: right;
  }

  #blockRow{
    position: relative;
    height: 50px;
    width: 100%;
    border: 1px solid black;

  }

  .quantityDiv{
    position: relative;
    width: 80%;
    height: 50px;
    margin-left: 16%;

  }


  #blockRow p{
    position: relative;
    top: 15%;
    transform: translateY(20%);
    margin-left: -44%;
    width:100%;
  }

  .adultRow p{
    position: relative;
    float: left;
    top: 25%;
    width:12%;
  }



  #selectType{
    position: relative;
    transform: translateY(-40%);
    margin-left: 70%;
    width: 22%;
    bottom: 20px;
  }

  .adultSelects{
    position: relative;
    top: 35%;
    margin-left: 15%;
    transform: translateY(-70%);
    width:100%;
    height: 100px;
  }





  #seatingPlanRow p{
    position: relative;
    top: 25%;
    transform: translateY(-20%);
    width:100%;
  }

  #seatingPlanRow div{
    position: relative;
    margin-left: 20%;
    border: 1px solid black;
    margin-top: 6%;
    height: 100px;
    width:60%;
  }

  #yourTicketRow{
    position: relative;
    height: 23.5px;
    width: 100%;
    border: 1px solid black;
  }

  #yourTicketRow p{
    position: relative;
    top: 25%;
    transform: translateY(-20%);
    width:100%;
  }


