{%  extends 'base.html' %}
<html lang="en">
{% block head %}
<head>
{% load static %}
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static "css/event/add_event.css" %}">
  <title>{% block title %}{%  endblock %}</title>
</head>
{% endblock %}
<body>
{% block content %}
    {% load static %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Balance</button>

        </form>
{% endblock %}
</body>
</html>