{%  extends 'profile/profile.html' %}

{% block info %}
       <title>Edit Profile</title>
        {% load static %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <form method="post">
        {% csrf_token %}
            <input type="hidden">
            <p><label for="id_gender">Gender:</label> <select name="gender" required id="id_gender">


{% ifequal user_info.gender 'M' %}
  <option value="M" selected>Male</option>
                <option value="F">Female</option>
{% else %}
                <option value="M" >Male</option>
                <option value="F" selected>Female</option>
                {% endifequal %}

</select></p>
<p><label for="id_phone_number">Phone number:</label> <input type="text" name="phone_number" maxlength="11" required id="id_phone_number" value="{{ user_info.phone_number }}"></p>
            <p>Birthday: <input type="date"  name="birthday" value="{{user_info.birthday.year}}-{{ user_info.birthday.month }}-{{ user_info.birthday.day }}" required></p>

            <button type="submit">Save Changes</button>
            <a class="button" href={% url 'change_password' %}>Reset Password</a>
        </form>

    {% endblock %}

